pdfminer.six==20220319
tifffile==2024.8.10
regex==2024.7.24
certifi==2024.7.4
xarray==2024.3.0
pytz==2024.1
jsonschema-specifications==2023.12.1
weasyprint==53.3
pyzmq==26.1.1
attrs==24.2.0
packaging==24.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
pyopenssl==21.0.0
pycountry==20.7.3
dlib==19.24.2
lit==18.1.8
rich==13.7.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-nvtx-cu11==11.7.91
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cufft-cu11==10.9.0.58
websockets==10.3
nvidia-curand-cu11==10.2.10.91
pillow==9.2.0
tenacity==9.0.0
py-cpuinfo==9.0.0
ipython==8.26.0
faker==8.13.2
nvidia-cudnn-cu11==8.5.0.96
importlib-metadata==8.4.0
thinc==8.2.5
click==8.1.7
nbconvert==7.16.4
jupyter-client==7.4.9
qrcode==7.3
smart-open==7.0.4
ipykernel==6.29.5
notebook==6.5.1
importlib-resources==6.4.3
tornado==6.4.1
pytest==6.2.5
bleach==6.1.0
multidict==6.0.5
pyyaml==6.0.2
hyperframe==6.0.1
rdflib==6.0.0
psutil==6.0.0
traitlets==5.14.3
nbformat==5.10.4
ujson==5.10.0
cachetools==5.5.0
plotly==5.3.0
lxml==5.3.0
jupyter-core==5.1.3
tqdm==4.64.0
fonttools==4.53.1
jsonschema==4.23.0
beautifulsoup4==4.12.3
typing-extensions==4.10.0
pexpect==4.9.0
opencv-python==4.5.5.62
decorator==4.4.2
gensim==4.3.1
platformdirs==4.2.2
bcrypt==4.2.0
h2==4.1.0
async-timeout==4.0.3
flask-cors==4.0.1
pymc==4.0.1
munch==4.0.0
rarfile==4.0
hpack==4.0.0
cmake==3.30.2
pycryptodome==3.20.0
pycryptodomex==3.20.0
zipp==3.20.0
filelock==3.15.4
orjson==3.10.7
trimesh==3.9.29
aiohttp==3.8.6
h5py==3.8.0
tables==3.8.0
spacy==3.7.5
anyio==3.7.1
idna==3.7
reportlab==3.6.12
nltk==3.6.3
matplotlib==3.6.3
pyproj==3.6.1
threadpoolctl==3.5.0
cryptography==3.4.8
jupyterlab==3.4.8
paramiko==3.4.1
langcodes==3.4.0
exchange-calendars==3.4
opt-einsum==3.3.0
jsonpickle==3.2.2
xlsxwriter==3.2.0
jinja2==3.1.4
pyparsing==3.1.2
prompt-toolkit==3.0.47
spacy-legacy==3.0.12
openpyxl==3.0.10
preshed==3.0.9
chardet==3.0.4
werkzeug==3.0.3
flask==3.0.3
mistune==3.0.2
audioread==3.0.1
markdown-it-py==3.0.0
cloudpickle==3.0.0
pyttsx3==2.90
imageio==2.35.1
requests==2.31.0
pycparser==2.22
fastjsonschema==2.20.0
jupyterlab-server==2.19.0
pydantic-core==2.18.3
pygments==2.18.0
babel==2.16.0
nvidia-nccl-cu11==2.14.3
pyswisseph==2.10.3.2
numexpr==2.10.1
python-dateutil==2.9.0.post0
pydantic-extra-types==2.9.0
pyjwt==2.9.0
networkx==2.8.8
anytree==2.8.0
snowflake-connector-python==2.7.12
aesara==2.7.3
pydantic==2.7.2
dnspython==2.6.1
keras==2.6.0
soupsieve==2.6
cairosvg==2.5.2
markdown2==2.5.0
srsly==2.4.8
asttokens==2.4.1
pydantic-settings==2.4.0
affine==2.4.0
bokeh==2.4.0
pyshp==2.3.1
gradio==2.2.15
gtts==2.2.3
pyluach==2.2.0
geopy==2.2.0
email-validator==2.2.0
itsdangerous==2.2.0
kerykeion==2.1.16
markupsafe==2.1.5
charset-normalizer==2.1.1
absl-py==2.1.0
catalogue==2.0.10
cymem==2.0.8
python-json-logger==2.0.7
torchaudio==2.0.2
torch==2.0.1
tomli==2.0.1
executing==2.0.1
priority==2.0.0
triton==2.0.0
blosc2==2.0.0
iniconfig==2.0.0
geographiclib==1.52
mutagen==1.45.1
pypdf2==1.28.6
urllib3==1.26.19
numpy==1.24.0
jupyter-server==1.23.5
pymupdf==1.21.1
cffi==1.17.0
pdf2image==1.16.3
wrapt==1.16.0
six==1.16.0
py==1.11.0
backoff==1.10.0
yarl==1.9.4
scipy==1.9.3
wordcloud==1.9.2
fiona==1.9.2
debugpy==1.8.5
send2trash==1.8.3
blinker==1.8.2
pooch==1.8.2
websocket-client==1.8.0
sympy==1.8
fpdf==1.7.2
cairocffi==1.7.1
shapely==1.7.1
pygraphviz==1.7
pywavelets==1.7.0
pypandoc==1.6.3
monotonic==1.6
nest-asyncio==1.6.0
shellingham==1.5.4
pandas==1.5.3
pandocfilters==1.5.1
asn1crypto==1.5.1
pynacl==1.5.0
pluggy==1.5.0
snuggs==1.4.7
kiwisolver==1.4.5
joblib==1.4.2
pydot==1.4.2
xgboost==1.4.2
svgwrite==1.4.1
frozenlist==1.4.1
odfpy==1.4.1
analytics-python==1.4.post1
basemap==1.3.9
rasterio==1.3.3
basemap-data==1.3.2
aiosignal==1.3.1
sniffio==1.3.1
oscrypto==1.3.0
mpmath==1.3.0
tinycss2==1.3.0
text-unidecode==1.3
h5netcdf==1.3.0
imgkit==1.2.2
contourpy==1.2.1
wsproto==1.2.0
marisa-trie==1.2.0
language-data==1.2.0
wasabi==1.1.3
scikit-learn==1.1.3
click-plugins==1.1.1
brotli==1.1.0
et-xmlfile==1.1.0
svglib==1.1.0
pylog==1.1
html5lib==1.1
cmudict==1.0.28
murmurhash==1.0.10
pyxlsb==1.0.8
msgpack==1.0.8
spacy-loggers==1.0.5
httpcore==1.0.5
tabula==1.0.5
moviepy==1.0.3
fastprogress==1.0.3
minikanren==1.0.3
python-dotenv==1.0.1
flask-cachebuster==1.0.0
future==1.0.0
numpy-financial==1.0.0
multipledispatch==1.0.0
fastapi==0.111.0
numba==0.60.0
llvmlite==0.43.0
shap==0.39.0
starlette==0.37.2
referencing==0.35.1
cython==0.29.36
httpx==0.27.0
pydub==0.25.1
mne==0.23.4
watchfiles==0.23.0
uvloop==0.20.0
scikit-image==0.20.0
rpds-py==0.20.0
prometheus-client==0.20.0
thrift==0.20.0
jedi==0.19.1
uvicorn==0.19.0
arviz==0.19.0
cloudpathlib==0.18.1
terminado==0.18.1
fuzzywuzzy==0.18.0
graphviz==0.17
pyphen==0.16.0
textblob==0.15.3
torchvision==0.15.2
hypercorn==0.14.3
h11==0.14.0
statsmodels==0.13.5
typer==0.12.4
cycler==0.12.1
folium==0.12.1
toolz==0.12.1
matplotlib-venn==0.11.6
seaborn==0.11.2
pydyf==0.11.0
geopandas==0.10.2
soundfile==0.10.2
toml==0.10.2
plotnine==0.10.1
camelot-py==0.10.1
mizani==0.10.0
nbclient==0.10.0
json5==0.9.25
markdownify==0.9.3
databricks-sql-connector==0.9.1
tabulate==0.9.0
python-docx==0.8.11
parso==0.8.4
librosa==0.8.1
docx2txt==0.8
blis==0.7.11
branca==0.7.2
cligj==0.7.2
defusedxml==0.7.1
xarray-einstats==0.7.0
cssselect2==0.7.0
pyth3==0.7
ptyprocess==0.7.0
annotated-types==0.7.0
python-pptx==0.6.21
wand==0.6.13
stack-data==0.6.3
flask-login==0.6.3
pdfplumber==0.6.2
isodate==0.6.1
pdfkit==0.6.1
httptools==0.6.1
torchtext==0.6.0
pyprover==0.5.6
patsy==0.5.6
loguru==0.5.3
imageio-ffmpeg==0.5.1
webencodings==0.5.1
cons==0.4.6
logical-unification==0.4.6
nbclassic==0.4.5
resampy==0.4.3
xml-python==0.4.3
weasel==0.4.1
pdfrw==0.4
ffmpy==0.4.0
entrypoints==0.4
lazy-loader==0.4
etuples==0.3.9
pytesseract==0.3.8
einops==0.3.2
korean-lunar-calendar==0.3.1
jax==0.2.28
wcwidth==0.2.13
notebook-shim==0.2.4
zopfli==0.2.3
pure-eval==0.2.3
comm==0.2.2
jupyterlab-pygments==0.2.2
pronouncing==0.2.0
ipython-genutils==0.2.0
ffmpeg-python==0.2.0
sentencepiece==0.2.0
proglog==0.1.10
dm-tree==0.1.8
pyzbar==0.1.8
matplotlib-inline==0.1.7
confection==0.1.5
mdurl==0.1.2
countryinfo==0.1.2
mtcnn==0.1.1
nashpy==0.0.35
aeppl==0.0.31
python-multipart==0.0.9
slicer==0.0.7
fastapi-cli==0.0.5
ace-tools==0.0.1
setuptools==65.5.1
pip==24.0
wheel==0.43.0