asgiref==3.8.1
astroid==3.2.4
certifi==2024.7.4
colorama==0.4.6
dill==0.3.8
distlib==0.3.8
Django==5.1
django-ckeditor==6.7.1
django-cors-headers==4.6.0
django-js-asset==2.2.0
django-simple-history==3.7.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.8
filelock==3.15.4
inflection==0.5.1
isort==5.13.2
mccabe==0.7.0
packaging==24.1
pillow==10.4.0
pipenv==2024.0.1
platformdirs==4.2.2
PyJWT==2.10.1
pylint==3.2.6
pylint-celery==0.3
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
python-decouple==3.8
pytz==2024.2
PyYAML==6.0.2
setuptools==71.0.0
sqlparse==0.5.1
tomlkit==0.13.2
tzdata==2024.1
uritemplate==4.1.1
virtualenv==20.26.3
